
body {
	
	margin:0px;
	padding:0px;
	background-color:#CEF6EC;
	color:#424242;
	font-family: 'Karla', sans-serif;
	font-family: 'Barlow', sans-serif;
	
}

h1 {
	padding-bottom:10px;
	margin-bottom:0px;
}

h2 {
	padding-bottom:0px;
	margin-bottom:0px;
}


p {
	
	padding-top:0px;
	margin-top:0px;
	font-size:110%;
}



#header {
	
	background-color:#A9BCF5;
	height:	220px;
	color:#585858;
	font-family: 'Barlow', sans-serif;
	font-size: 150%;
	text-align: center;	
	padding-left:30px;
	
}

#menu {
	width:1200px;
	margin:auto;
	border: 0 auto;
	
}

#menu a {
	text-decoration:none;
	
}

a:hover {
	text-decoration:none;
	
	
}

a:visited {
	
	color:#0404B4;
}

table.table-menu table {
	
	
	border-collapse:collapse;
	border-style:none;
	border-spacing: 0px;
	
}

table.table-menu tr{
	
	border-style:none;
	border-spacing: 0px;
	
}

table.table-menu td{
	
	border-spacing: 0px;
	border-right: 1px solid #848484;
	width: 150px;
	height:40px;
	text-align:center;
	font-size:120%;
	
}

table.table-menu td:hover{
	
	background-color:white;
	font-weight:bold;
	font-size:22px;
}


table.table-main table,tr, td {
	
	border:none;
	margin:auto;
}



#main{
			background-image:url("images/clouds1.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			
		}



.large {
	font-size:43px;
}

.center {
	text-align:center;
}

.quote {
	font-family: 'Amatic SC', cursive;
	padding-top:28px;
	margin-bottom:20px;
	font-weight:bold;
}

.author {
	padding-left:100px;
}

.text-box1 {
	position: relative;
	left: 30px;
	
	height: 230px;
	width:600px;
	padding:5px;
	float:left;
	
}

.up1 {
	
	position:relative;
	top:-170px;
}

.up2 {
	
	position:relative;
	top:-330px;
}

.up3 {
	
	position:relative;
	top:-480px;
}

.up4 {
	
	position:relative;
	top:-550px;
}

.down1 {
	
	position:relative;
	top:80px;
}

.image {
	float:left;
	margin-left:100px;
}

.clear {
	clear:both;
}

.text_container {
			
	width:900px;
	opacity: 0.7;
	background-color:white;
	margin: 10px auto;
	padding:10px 10px;
			
}
		
.gap {
	height: 30px;
		
		
}

#quote-box {
	
	height: 220px;
	width:800px;
	background-color: white;
	margin:auto;
	
	
	
	
}

#footer {
	
	background-color:#F2F2F2;
	height: 200px;
	
	
	
	
	
}